$background-color: #f3f3f3;
$letter-color: #020711;
$font-size: 16px;
$inputform-color: #f3f3f3;
$buttonform-color: #0c041f;
$btnform-hover: #0e102e;
$messagesInput-color: #dfdfdf;
$messagesInput-letter: #c7c7c7;
$messagesIcon-color: #8b8b8b;
$messages-self: #2e2e2e;
$messagesself-letter: #c7c7c7;
$messages-other: #d3d3d3;
$messagesOther-letter: #5c5c5c;