$background-color: #c2c2c2;
$letter-color: #858585;
$font-size: 16px;
$inputform-color: #e2e2e2;
$buttonform-color: #919191;
$btnform-hover: #b3b3b3;
$messagesInput-color: #dfdfdf;
$messagesInput-letter: #c7c7c7;
$messagesIcon-color: #8b8b8b;
$messages-self: #d3d3d3;
$messagesself-letter: #7c7c7c;
$messages-other: #586296;
$messagesOther-letter: #d3d3d3;